h2{
   color: red; 
}
.titulo1{
    position: relative;
    display: flex;
}
.form-control{
    width: 300px;
    padding-top: 10px;
}
.login{
    display:flex;
    flex-wrap: wrap;
}
.prin{
    margin: 100px;
}
.lblEsqueciSenha{
    color: black;
}