.prin{
    background: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.login{
    width: 100%;
    background:darkgray;
    display: block;
    unicode-bidi: isolate;
    

}
.form-text a{
    color: black;
}
.form-label{
    color: brown;
    padding-right:350px;
    position:relative;
    
}
.form-control{
    width: 300px;
    margin-right:100px;
    background-color:cornsilk;
}
body{
    background-color: black;
    margin: auto;
}